* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  font-style: normal;
}
.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  border-radius: 30px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}
.btn:hover {
  opacity: 0.9;
}
.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}
.section-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin-top: 18px;
}

/* header */
.header {
  background: rgba(16, 55, 92, 1);
  min-height: 100vh;
  padding-top: 30px;
}
.header a {
  text-decoration: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar__list {
  display: flex;
}
.header .action .header__action--login,
.header .navbar__link {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  padding: 8px 21px;
}
.header .action .header__action--login:hover,
.header .navbar__link--active,
.header .navbar__link:hover {
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.header .navbar__link--active::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  position: relative;
  top: -2px;
  right: 8px;
}
.header .header__action--signup {
  min-width: 104px;
  line-height: 44px;
  border-radius: 22px;
  background: #2e80ce;
  color: #fff;
  font-size: 1.6rem;
  margin-left: 7px;
}
/* hero */
.hero {
  display: flex;
  margin-top: 76px;
  align-items: center;
}
.hero .hero__content {
  width: 44%;
}
.hero .hero__media {
  width: 56%;
}
.hero .hero__content .hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}
.hero .hero__content .desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin-top: 22px;
}
.hero .hero__content .hero__row {
  margin-top: 38px;
}
.hero .hero__content .hero__row .hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  margin-left: 38px;
}
.hero .hero__media .hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero .hero__media .hero__images .hero__img-large {
  border-radius: 6px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}
.hero .hero__media .hero__images .hero__img-small {
  border-radius: 0 6px 6px 0;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  width: 210px;
  height: 410px;
}
/* sevice */
.service {
  padding: 170px 0;
}
.service .service__heading {
  text-align: center;
}
.service .service__desc {
  width: 468px;
  text-align: center;
  margin: 0 auto;
}
.service .service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service .service__row .service__img {
  border-radius: 12px;
  background: url(<path-to-image>) lightgray 0px -1.3px / 100% 149.93% no-repeat;
  width: 570px;
  height: 570px;
}
.service .service__list .service-item {
  width: 470px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  padding: 21px;
  transition: 0.25s;
}
.service .service__list .service-item:hover {
  position: relative;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}
.service .service__list .service-item:hover .service-item__icon {
  color: #fff;
  background-color: rgba(46, 128, 206, 1);
}
.service .service__list .service-item .service-item__icon {
  border-radius: 50%;
  background: #eff6fd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 19px;
  transition: 0.25s;
}
.service .service__list .service-item .service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 8px;
}
.service .service__list .service-item .service-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.service .service__list .service__btn {
  margin-top: 55px;
  text-decoration: none;
}
