* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  font-style: normal;
}
.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  border-radius: 30px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}
.btn:hover {
  opacity: 0.9;
}

/* header */
.header {
  background: rgba(16, 55, 92, 1);
  min-height: 100vh;
  padding-top: 30px;
}
.header a {
  text-decoration: none;
}
.header .container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar__list {
  display: flex;
}
.header .action .header__action--login,
.header .navbar__link {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  padding: 8px 21px;
}
.header .action .header__action--login:hover,
.header .navbar__link--active,
.header .navbar__link:hover {
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.header .navbar__link--active::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  position: relative;
  top: -2px;
  right: 8px;
}
.header .header__action--signup {
  min-width: 104px;
  line-height: 44px;
  border-radius: 22px;
  background: #2e80ce;
  color: #fff;
  font-size: 1.6rem;
  margin-left: 7px;
}
