* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  font-style: normal;
}
.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  border-radius: 30px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}
.btn:hover {
  opacity: 0.9;
}
.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}
.section-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin-top: 18px;
}

/* header */
.header {
  background: rgba(16, 55, 92, 1);
  min-height: 100vh;
  padding-top: 30px;
}
.header a {
  text-decoration: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar__list {
  display: flex;
}
.header .action .header__action--login,
.header .navbar__link {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  padding: 8px 21px;
}
.header .action .header__action--login:hover,
.header .navbar__link--active,
.header .navbar__link:hover {
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.header .navbar__link--active::before {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  position: relative;
  top: -2px;
  right: 8px;
}
.header .header__action--signup {
  min-width: 104px;
  line-height: 44px;
  border-radius: 22px;
  background: #2e80ce;
  color: #fff;
  font-size: 1.6rem;
  margin-left: 7px;
}
/* hero */
.hero {
  display: flex;
  margin-top: 76px;
  align-items: center;
}
.hero .hero__content {
  width: 44%;
}
.hero .hero__media {
  width: 56%;
}
.hero .hero__content .hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}
.hero .hero__content .desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin-top: 22px;
}
.hero .hero__content .hero__row {
  margin-top: 38px;
}
.hero .hero__content .hero__row .hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  margin-left: 38px;
}
.hero .hero__media .hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero .hero__media .hero__images .hero__img-large {
  border-radius: 6px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}
.hero .hero__media .hero__images .hero__img-small {
  border-radius: 0 6px 6px 0;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  width: 210px;
  height: 410px;
}
/* sevice */
.service {
  padding: 170px 0;
}
.service .service__heading {
  text-align: center;
}
.service .service__desc {
  width: 468px;
  text-align: center;
  margin: 18px auto 0;
}
.service .service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service .service__row .service__img {
  border-radius: 12px;
  background: url(<path-to-image>) lightgray 0px -1.3px / 100% 149.93% no-repeat;
  width: 570px;
  height: 570px;
}
.service .service__list .service-item {
  width: 470px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  padding: 21px;
  transition: 0.25s;
}
.service .service__list .service-item:hover {
  position: relative;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}
.service .service__list .service-item:hover .service-item__icon {
  color: #fff;
  background-color: rgba(46, 128, 206, 1);
}
.service .service__list .service-item .service-item__icon {
  border-radius: 50%;
  background: #eff6fd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 19px;
  transition: 0.25s;
}
.service .service__list .service-item .service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 8px;
}
.service .service__list .service-item .service-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.service .service__list .service__btn {
  margin-top: 55px;
  text-decoration: none;
}
/* work */
.work {
  padding: 100px 0;
  background: rgba(246, 251, 255, 1);
}
.work .section-desc {
  width: 468px;
}
.work .work__list {
  gap: 30px;
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.work .work__list .work-item {
  border-radius: 4px;
  background: #fff;
  padding: 43px 42px;
  border: 16px solid rgba(234, 246, 255, 1);
  transition: 0.25s;
}
.work .work__list .work-item:hover {
  border-color: rgba(46, 128, 206, 1);
  transform: translateY(-16px);
}
.work .work__list .work-item:hover .work-item__more {
  color: #2e80ce;
  font-weight: 400;
}
.work .work__list .work-item .work-item__heading {
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
  margin-top: 18px;
}
.work .work__list .work-item .work-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  width: 254px;
  margin: 28px 0 18px 0;
}
.work .work__list .work-item .work-item__more {
  text-decoration: none;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
/* about */
.about {
  padding: 85px 0 100px;
  margin: 85px 0;
}
.about .container {
  display: flex;
  justify-content: space-between;
}
.about .container .about__media {
  width: 49%;
}
.about .container .about__content {
  width: 40%;
}
.about .container .about__img {
  position: relative;
}
.about .container .about__img--big {
  border-radius: 6px;
  width: 512px;
  height: 370px;
  /* display: flex; */
}
.about .container .about__img--small {
  position: absolute;
  right: 1px;
  top: 121px;
  border-radius: 6px;
  width: 332px;
  height: 370px;
}
.about .about__content .section-heading {
  width: 470px;
  margin-top: 70px;
}
.about .about__content .section-desc {
  width: 468px;
  margin: 18px 0 38px 0;
}
/* team */
.control {
  display: flex;
  align-items: center;
  gap: 18px;
}
.team .team-control {
  margin-top: 38px;
  justify-content: center;
}
.team {
  padding: 85px 0;
}
.team .team-header {
  text-align: center;
}
.team .team-header h2 {
  margin-bottom: 38px;
}
.team .team-list {
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 70px;
}
.team .team-list .team-item .team-item__img-bg {
  width: 270px;
  height: 318px;
  border-radius: 6px;
  background: #eaf6ff;
  overflow: hidden;
}
.team .team-list .team-item .team-item__thumb {
  width: 262px;
  height: 290px;
  position: relative;
  top: 28px;
  transition: 0.5s;
}
.team .team-list .team-item:hover .team-item__thumb {
  scale: 1.1;
}
.team .team-list .team-item .team-item__name {
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  margin-top: 12px;
}
.team .team-list .team-item .team-item__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86; /* 185.714% */
}
.team .control__btn {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px solid rgba(87, 95, 102, 1);
  transition: 0.25s;
}
.team .control__btn .next {
  rotate: 180deg;
}
.team .control__btn:hover {
  background: rgba(46, 128, 206, 1);
  cursor: pointer;
  color: #fff;
}
/* install */
.install {
  margin: 85px 0;
  padding-top: 85px;
}
.install .install__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 4px;
  background: rgba(46, 128, 206, 1);
  padding: 0 70px;
  height: 427px;
}
.install .install__img {
  width: 284px;
  height: 522px;
  position: absolute;
  top: -95px;
  object-fit: cover;
}
.install .section-heading {
  color: rgba(255, 255, 255, 1);
  width: 586px;
}
.install .section-desc {
  color: rgba(255, 255, 255, 1);
  width: 586px;
  margin: 18px 0 38px 0;
}
.install .install__row {
  display: flex;
  gap: 28px;
}
.install .install__row:first-child {
  width: 135px;
  height: 40px;
}
.install .install__row:last-child {
  width: 120px;
  height: 40px;
}
/* blog */
.blog {
  padding: 85px 0;
}
.blog .blog__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog .blog__content .section-heading {
  width: 470px;
}
.blog .blog__content .blog__more {
  color: #10375c;
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.56; /* 155.556% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  padding: 28px 0;
  display: inline-block;
}
.blog .blog__content .blog__more:hover {
  color: rgba(46, 128, 206, 1);
}
.blog .control__btn {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px solid rgba(87, 95, 102, 1);
  transition: 0.25s;
}
.blog .control__btn .next {
  rotate: 180deg;
}
.blog .control__btn:hover {
  background: rgba(46, 128, 206, 1);
  cursor: pointer;
  color: #fff;
}
.blog .blog__list {
  display: flex;
  gap: 30px;
}
.blog .blog-item {
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  width: 270px;
  transition: 0.5s;
}
.blog .blog__list .blog-item:hover {
  border: transparent;
  box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
}
.blog .bog-item .blog-item__thumb {
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}
.blog .blog-item .blog-item__body {
  padding: 18px 22px;
}
.blog .blog-item .blog-item__heading {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62; /* 162.5% */
  width: 224px;
}
.blog .blog-item .blog-item__desc {
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71; /* 171.429% */
  margin: 10px 0 12px;
}
.blog .blog-item .blog-item__more {
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 400;
}
.blog .blog-item .blog-item__more:hover {
  color: rgba(46, 128, 206, 1);
}
.appointment {
  margin: 85px 0;
}
.appointment .container {
  background: rgba(246, 251, 255, 1);
  text-align: center;
  padding: 100px 0;
}
.appointment .container .section-heading {
  width: 813px;
  margin: 0 auto;
}
.appointment .container .section-heading:after {
  content: "";
  width: 136px;
  height: 2px;
  background: #2e80ce;
  display: block;
  margin: 18px auto;
}
.appointment .container p {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  width: 617px;
  display: block;
  margin: 18px auto 38px;
}
.appointment .container .btn {
  /* display: inline-block; */
}
